# Ignore all files and directories with "draft" in the name
*draft*

# Ignore .DS_Store files
.DS_Store


*.pyc
*.pyo
*.pyd
__pycache__/
*.py[co]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/
*.venv/
*.virtualenv/
*.virtualenvs/
*.env/
*.envs/
*.vscode/
*.idea/
*.pytest_cache/
*.mypy_cache/
*.ropeproject/
*.pyre/
*.spyderproject/
*.spyproject/
*.vs/
*.ipynb_checkpoints/
*.nox/
*.tox/
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache/
.pyre/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
*.log
pip-log.txt
pip-delete-this-directory.txt
docs/_build/